DATABASE_URL=postgresql://postgres:[YOUR-PASSWORD]@db.umwudtftfihvojhdxdxy.supabase.co:5432/postgres
GMAIL_USER=cdrsahayal@gmail.com
GMAIL_APP_PASSWORD=Cctns@2890
GEMINI_API_KEY=AIzaSyBjsLu0zoZRzZpp4sJJN1wZDuDtXwtdqeA
JWT_SECRET=your_jwt_secret_key_here
PORT=3000
